<%- include("templates/header") %> 
<main class="my-auto p-5" id="content">
  <div class="text-center py-5">
    <h1 class="display-1" style="overflow:hidden; color:red;">500</h1>
    <h2>Error calling the API, make sure your Songgestions Engine is running!</h2>
    <br/>
    <a class="btn btn-outline-primary" href="https://github.com/Tarasios/SonggestionsEngine" style="overflow:hidden">Download the Engine</a>
  </div>
</main>
<%- include("templates/footer") %> 
