<%- include("templates/header") %>
    <h2 class="hover-effect" style="color: #16bac5; text-shadow: 2px 2px 0px #5863f8;">Create Account</h2>
    <div class="mb-3">
        <form action='/submitUser' method='post'>
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label" style="color: #16bac5; text-shadow: 2px 2px 0px #5863f8;">Username*</label>
                <input name='username' type="text" class="form-control" id="formGroupExampleInput"
                    placeholder="Username" autofocus>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label" style="color: #16bac5; text-shadow: 2px 2px 0px #5863f8;">Email*</label>
                <input name='email' type="email" class="form-control" id="email" placeholder="email@example.com">
            </div>
            <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label" style="color: #16bac5; text-shadow: 2px 2px 0px #5863f8;">Password*</label>
                <input name='password' type="password" class="form-control" id="formGroupExampleInput2"
                    placeholder="Password" maxlength="20">
            </div>
            <div class="mb-3">
                <label for="securityQuestion" class="form-label" style="color: #16bac5; text-shadow: 2px 2px 0px #5863f8;">Security Question*</label>
                <select name="securityQuestion" class="form-control" id="securityQuestion" required>
                    <option value="" disabled selected>Select a Security Question</option>
                    <option value="What is your Mother's Maiden Name?">What is your Mother's Maiden Name?</option>
                    <option value="What is your Pet's Name?">What is your Pet's Name?</option>
                    <option value="What is your Favourite Song?">What is your Favourite Song?</option>
                    <option value="What is your Favourite Game?">What is your Favourite Game?</option>
                    <option value="What was your Favourite Book?">What was your Favourite Book?</option>
                    <option value="What is your Favourite Movie?">What is your Favourite Movie?</option>
                    <option value="What is your Favourite Movie?">What is your Favourite TV Show?</option>
                </select>
            </div>
            <div class="mb-3">
                <label for="securityAnswer" class="form-label" style="color: #16bac5; text-shadow: 2px 2px 0px #5863f8;">Security Answer*</label>
                <input name="securityAnswer" type="text" class="form-control" id="securityAnswer"
                    placeholder="Security Answer">
            </div>
            <% if (errorMessage) { %>
                <div class="error-container" style="display: flex; justify-content: center;">
                    <div class="alert alert-danger shake" style="max-width: 300px;">
                        <p>
                            <%= errorMessage %>
                        </p>
                    </div>
                </div>
                <% } %>


                    <button class="btn btn-outline-primary">Submit</button>
        </form>
    </div>
    <%- include("templates/footer") %>