<%- include("templates/header") %>

    <h2>Forgot Password</h2>

    Please enter your email address and we will help you reset your password.

    <br><br>
    <form action='/checkEmail' method='post'>
        <div class="mb-3">
            <label for="email" class="form-label" style="color: #16bac5; text-shadow: 2px 2px 0px #5863f8;">Email</label>
            <input name='email' type="email" class="form-control" id="email" placeholder='email@example.com'></input>
        </div>
        <button class="btn btn-outline-primary">Submit</button>
    </form>

    <%- include("templates/footer") %>