<%- include("templates/header") %> 
    
        <h2>Forgot Password</h2>

        Please enter your email address and we will send you a link to reset your password.

        <br><br>
        <form action='/checkEmail' method='post'>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input name='email' type="email" class="form-control" id="email" placeholder='email@example.com'></input>
            </div>
            <button class="btn btn-outline-primary">Submit</button>
        </form>

<%- include("templates/footer") %> 