<%- include("templates/header") %> 
    <h1 class="hover-effect" style="color: #16bac5; text-shadow: 2px 2px 0px #5863f8;">Welcome to Songgestions!</h1>
    <h2 class="hover-effect" style="color: #16bac5; text-shadow: 2px 2px 0px #5863f8;">Your one stop shop for any music reccommondations to suit your specific tastes!</h2></br>
    <a href="/createUser"><button type="button" class="btn btn-outline-primary">Sign Up</button></a>
    <a href="/login"><button type="button" class="btn btn-outline-primary">Log In</button></a></br>
    <div class="container text-center">
        <div class="row">
          <div class="col" style="color: #16bac5;">
        </br></br></br>
            Songgestions is a music based app that harnesses the power of artificial intelligence in order to cater to your 
            individual musical tastes and preferences! You'll also be able to discover new music you never knew existed as 
            well as adding to your original library!</br></br>

            You'll have the ability to search genres of anything you want and be the cool person in the gruop for always 
            having the best song for every occassion!</br></br>

            Try out Songgestions for free today!
          </div>
          <div class="col">
            <img src="./img/Musical-note.png" style="width: 60%;">
          </div>
        </div>
    </div>
<%- include("templates/footer") %> 
