<%- include("templates/header") %> 
    <a href="/createUser"><button type="button" class="btn btn-outline-primary">Sign Up</button></a></br>
    <a href="/login"><button type="button" class="btn btn-outline-primary">Log In</button></a>
<%- include("templates/footer") %> 
