<%- include("templates/header") %>
<h2 style="color: #16bac5; text-shadow: 2px 2px 0px #5863f8">
  Welcome <%= username %>!
</h2>
<div class="container text-center">
  <div class="row row-cols-1">
    <div class="card text-bg-dark col"><a class="nav-link active" href="/search">
      <img src="./img/wave.jpg" class="card-img rounded-5 " alt="..." height="350px" width="70%" />
      <div class="card-img-overlay outlined-text">
        <h5 class="card-title">Discover</h5>
        <p class="card-text">
          Discover new music and expand your library!
        </p>
      </div>
      </a>
    </div>
    <div class="card text-bg-dark col"><a class="nav-link active" href="/favourites">
      <img src="./img/love.jpg" class="card-img rounded-5" alt="..." height="350px" width="70%" />
      <div class="card-img-overlay outlined-text">
        <h5 class="card-title">Favourites</h5>
        <p class="card-text">
          Take a look at your favourite songs and add/remove them at your discretion! 
        </p>
      </div>   
      </a>
    </div>
    <div class="card text-bg-dark col"><a class="nav-link active" href="/playlists">
      <img src="./img/playlists.jpg" class="card-img rounded-5" alt="..." height="350px" width="70%" />
      <div class="card-img-overlay outlined-text">
        <h5 class="card-title">Playlists</h5>
        <p class="card-text">
          Create and edit your own customized playlists!
        </p>
      </div>
      </a>
    </div>
  </div>
</div>
<h2>
  <a href="/logout"
    ><button type="button" class="btn btn-primary btn-lg">Log Out</button></a
  >
</h2>
<%- include("templates/footer") %>
