<%- include("templates/header") %> 
    <h2>Successfully logged in <%= username %>!</h2>
    <div class="row mb-3 text-center">
        <div class="col-md-4 themed-grid-col"><img class="img-fluid" src='/RE1.jpg'></div>
        <div class="col-md-4 themed-grid-col"><img class="img-fluid" src='/RE2.png'></div>
        <div class="col-md-4 themed-grid-col"><img class="img-fluid" src='/RE3.jpg'></div>
    </div>
    <h2><a href="/logout"><button type="button" class="btn btn-primary btn-lg">Log Out</button></a></h2>
<%- include("templates/footer") %> 
