<%- include("templates/header") %> 
<h2 class="pb-2 border-bottom border-info" style="color: #16bac5; text-shadow: 2px 2px 0px #5863f8;">Profile</h2>

<div class="container px-4 py-5 " id="icon-grid">
  <img src="404image" class="rounded-circle" onerror="this.src='./img/placeholder-pfp.jpg';" width="300" height="300">
  
<div class="container text-center">
</br>
  <h2>
    <a href="/profile"
      ><button type="button" class="btn btn-primary btn-lg">Basic info</button></a>
  </h2>
</br>
  <h2>
    <a href="/dataHistory"
      ><button type="button" class="btn btn-primary btn-lg">Data History</button></a>
  </h2>
</br>
  <h2>
    <a href="/userSettings"
      ><button type="button" class="btn btn-primary btn-lg">Settings</button></a>
  </h2>
</br>
  <h2>
    <a href="/logout"
      ><button type="button" class="btn btn-primary btn-lg">Log Out</button></a>
  </h2>
  </div>
  </div>
<%- include("templates/footer") %> 