<%- include("templates/header") %>
    <h1>Reset Password for <%= email %>
    </h1>

    <form class='resetPassword' action='/resetPassword' method="post">
        <label for="newPassword">New Password</label>
        <input type="hidden" name="email" value="<%= email %>">
        <input name='newPassword' type="password" class="form-control" id="newPassword" placeholder='New Password'
            required></input>
        <label for="confirmPassword">Confirm Password</label>
        <input name='confirmPassword' type="password" class="form-control" id="confirmPassword"
            placeholder='Confirm Password' required></input>
        <br>
        <button class="btn btn-outline-primary">Reset Password</button>

    </form>
    <%- include("templates/footer") %>