<%- include("templates/header") %>
    <h1 style="color: #16bac5; text-shadow: 2px 2px 0px #5863f8;">Reset Password for <%= email %>
    </h1>

    <form class='resetPassword' action='/resetPassword' method="post">
        <label for="newPassword" style="color: #16bac5; text-shadow: 2px 2px 0px #5863f8;">New Password</label>
        <input type="hidden" name="email" value="<%= email %>">
        <input name='newPassword' type="password" class="form-control" id="newPassword" placeholder='New Password'
            required></input>
        <label for="confirmPassword" style="color: #16bac5; text-shadow: 2px 2px 0px #5863f8;">Confirm Password</label>
        <input name='confirmPassword' type="password" class="form-control" id="confirmPassword"
            placeholder='Confirm Password' required></input>
        <br>
        <button class="btn btn-outline-primary">Reset Password</button>

    </form>
    <%- include("templates/footer") %>