<%- include("templates/header") %> 
    <h2 class="border-bottom border-info pb-2" style="color: #16bac5; text-shadow: 2px 2px 0px #5863f8;">Browse</h2>
    <br/><br/>
    <div class="mb-3">
      <form action="/searchSong" method="post">
        <div class="mb-3">
          <label for="song" class="form-label" style="color: #16bac5; text-shadow: 2px 2px 0px #5863f8;">Enter a Song</label>
          <input name="song" type="text" class="form-control" id="song" placeholder="Song name:">
        </div>
        <button class="btn btn-outline-primary" type="submit">Submit</button>
      </form>
      <br/>
      <form action="/searchHistory" method="post">
        <button class="btn btn-outline-secondary btn-sm" type="submit">View Search History</button>
      </form>
    </div>
<%- include("templates/footer") %> 