<%- include("templates/header") %>
    <h1 style="color: #16bac5; text-shadow: 2px 2px 0px #5863f8;">Reset Password Token Has Expired. Please try again.</h1>
    <a href="/forgotPassword">Forgot Password?</a>
    <%- include("templates/footer") %>