</div> <!-- container -->
  <footer class="d-flex flex-wrap container fixed-bottom justify-content-between align-items-center border-top navbar2">
    <div>
      <span class="mobile-hide">© 2023 Songgestions, Inc</span>
    </div>
  </footer>
</body>
</html>